@page "/"
@using Net6Server.Components

@inject ToastService ToastServices

<button class="e-btn" @onclick="@ShowToast1"> Show Toast</button>

@code {
    private async Task ShowToast1()
    {
        await Task.Delay(1);
        this.ToastServices.Open(new ToastOptions()
        {
            Title = "Toast Title",
            Content = "Toast content", // Dynamic Content
            CssClass = "glow"
        });
    }
}
<style>
    .glow {
        background-color: lightgray !important;
    }
</style>
