@page "/"
@using ShowOrHideToast.Components
@inject ToastService ToastService

<button class="e-btn" @onclick="@ShowToast"> Show Toast</button>

@code {
    private void ShowToast()
    {
        this.ToastService.ShowToast(new ToastOption()
            {
                Title = "Toast Title",
                Content = "Toast content"
            });
    }
}
