@using Syncfusion.Blazor.Notifications;


<SfToast @ref="ToastObj" Timeout=3000 CssClass="@Options.CssClass">
    <ToastTemplates>
        <Title>
            @Options.Title
        </Title>
        <Content>
            @Options.Content
        </Content>
    </ToastTemplates>
    <ToastPosition X="Right"></ToastPosition>
</SfToast>

@code {
    [Inject]
    public ToastService ToastService { get; set; }
    SfToast ToastObj;

    private bool RenderToast { get; set; } = false;

    // Parameter
    private ToastOptions Options = new ToastOptions();

    protected override async Task OnInitializedAsync()
    {
        // Update the parameter in local variable and render the toast
        ToastService.ToastInstance += (ToastOptions options) =>
        {
            InvokeAsync(() =>
            {
                this.Options.Title = options.Title;
                this.Options.Content = options.Content;
                this.Options.CssClass = options.CssClass;
                this.RenderToast = true;                
                this.StateHasChanged();
                this.ToastObj.ShowAsync();
            });
        };
    }
} 